body{
    background-image: url("images/codingimage.png");    
}

.container { 
    background-color: rgba(65, 183, 226, 0.8);
    margin: 35px;
    padding: 35px;
}
.wrapper {
    background-color: black;
    box-sizing: border-box;
    padding: 35px; 
    margin: 25px;
}
h2 {
    color: white;
    font-size: 14px;
 }

#para1 {
    color: white;
}
.logo {
   

}
p {
    text-align: center;
    color: white;
}

