body{
    background-image: url("images/whiteblue.jpg"); 
    background-repeat: no-repeat;
    background-size: 100vw;
    background-attachment: fixed;
}

.logobox{
    display: flex;
    justify-content: flex-end;
    align-items:flex-end;

}
.button{
    display: flex;
    min-height: 3vh;
    flex-direction: row;
    justify-content: left;
    align-content: left;
}
.container { 
    background-color: rgba(0, 49, 185, 0.2);
    margin: 275px;
    padding: 2px;
}
.wrapper {
    background-color:white;
    box-sizing: border-box;
    padding: 35px; 
    margin: 25px;
}
h1 {
    color: rgb(0, 0, 0);
    font-size: 42px;
 }
h2 {
    color:rgb(0, 0, 0);
    font-size: 32px;
 }
p {
    text-align: left;
    color: rgb(0, 0, 0);
    font-size: 22px;
}
.right{
    text-align: right;
}